@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
    --blue:#1e73f2;
    --black:#00288d;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(202, 218, 240, 0.1)0.1);
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
   
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

section{
    padding:2rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.container:nth-child(even){
    background:#e7f5f9;
}

#dishes .sub-heading{
    text-align: center;
    color:var(--blue);
    font-size: 2rem;
    margin-top: 15px;
    font-size: 30px;
    margin-bottom: 15px;
}

#dishes .heading{
    text-align: center;
    color:var(--black);
    font-size: 3rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}

.about .sub{
    text-align: center;
    color:var(--blue);
    font-size: 2rem;
    margin-top: 5px;
    font-size: 30px;
    margin-bottom: 25px;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color:#fff;
    background: var(--black);
    border-radius: .5rem;
    cursor: pointer;
    padding:.8rem 3rem;
}

.btn:hover{
    background: var(--blue);
    letter-spacing: .1rem;
}

header{
    position: fixed;
    top:0; left: 0; right:0;
    background: #fff;
    box-shadow: var(--box-shadow);
    z-index: 1000;
}

header .flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

header .flex .logo{
    color:var(--black);
    font-size: 2.5rem;
    font-weight: bolder;
}

header .flex .logo i{
    color:var(--blue);
}

header .flex .navbar a{
    font-size: 1.7rem;
    border-radius: .5rem;
    padding:.5rem 1.5rem;
    color:var(--light-color);
}

header .flex .navbar a.active,
header .flex .navbar a:hover{
    color:#fff;
    background: var(--blue);
}

header .flex .icons i,
header .flex .icons a{
    cursor: pointer;
    margin-left: .5rem;
    height:4.5rem;
    line-height: 4.5rem;
    width:4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color:var(--black);
    border-radius: 50%;
    background: #e7f5f9;
}

header .flex .icons i:hover,
header .flex .icons a:hover{
    color:#fff;
    background: var(--blue);
    transform: rotate(360deg);
}

header .flex .icons #menu-bars{
    display: none;
}

#search-form{
    position: fixed;
    top:-110%; left:0; 
    height:100%; width:100%;
    z-index: 1004;
    background:rgba(0,0,0,.8);
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0 1rem;
}

#search-form.active{
    top:0;
}

#search-form #search-box{
    width:50rem;
    border-bottom: .1rem solid #fff;
    padding:1rem 0;
    color:#fff;
    font-size: 3rem;
    text-transform: none;
    background:none;
}

/* #search-form #search-box::placeholder{
    color:#e7f5f9;
} */

#search-form #search-box::-webkit-search-cancel-button{
    -webkit-appearance: none;
}

#search-form label{
    color:#fff;
    cursor:pointer;
    font-size: 3rem;
}

#search-form label:hover{
    color:var(--blue);
}

/* #search-form #close{
    position: absolute;
    color:#fff;
    cursor: pointer;
    top: 2rem; right:3rem;
    font-size: 5rem;
} */

.home .swiper-slide{
    background-color: #e7f5f9;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:2rem; 
    padding-top: 10rem;
    padding-bottom: 5rem;

}

.home .swiper-slide .content{
    flex:1 1 45rem;
}

.home .swiper-slide .image{
    flex:1 1 45rem;
    margin-left: 4rem;
    margin-right: 4rem;
}

.home .swiper-slide .image img{
    width: 100%;
}

.home .swiper-slide .content span{
    color:var(--blue);
    font-size: 2.5rem;
    margin-left: 11rem;
}

.home .swiper-slide .content h3{
    color:var(--black);
    font-size: 7rem;
    margin-left: 6rem;

}

.home .swiper-slide .content p{
    color:var(--light-color);
    font-size: 2.2rem;
    padding:.5rem 0;
    line-height: 1.5;
    margin-left: 4rem;
}

.home .swiper-slide .content h1{
    color:var(--light-color);
    font-size: 2.2rem;
    padding:.5rem 0;
    padding-bottom: 5rem;
    line-height: 1.5;
    margin-left: 6rem;
}

.swiper-pagination-bullet-active{
    background:var(--blue);
}
/* ------------------------------------------------------------------- */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
   display: flex;
  justify-content: center;
 
}

.login-container,
.register-container {
  background: #fff;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 20rem;
  margin-bottom: 2rem;

}

.login-container h2,
.register-container h2 {
  font-size: 2.5rem;
  color: #000;
  margin-bottom: 1rem;
}

.login-container form,
.register-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-container input,
.register-container input {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 0.5rem;
  background: #eee;
}

.login-container button,
.register-container button {
  padding: 0.8rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background: var(--black);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.2s linear;
}

.login-container button:hover,
.register-container button:hover {
  background: var(--blue);
  letter-spacing: 0.1rem;
}

.login-container p,
.register-container p {
  margin-top: 1rem;
}

.login-container p a,
.register-container p a {
  color: var(--blue);
}

.login-container p a:hover,
.register-container p a:hover {
  text-decoration: underline;
}

/* --------------------------------------------------------------- */

#dishes #meals-container{
    display: flex;
    flex-wrap: wrap;
    /* display: grid;
    grid-template-columns: repeat(3, 35rem); 
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)) */
    gap:1.5rem;
    justify-content: center;
    margin-top: 15px;
}


#dishes #meals-container .meal-box{
    padding:2.5rem;
    background:#fff;
    border-radius: .5rem;
    border:.1rem solid rgba(0,0,0,.2);
    box-shadow: var(--box-shadow);
    position: relative;
    text-align: center;
    margin-bottom: 20px;

    flex-basis: 33%; 
    flex-grow: 1;
    max-width: 33%;
    box-sizing: border-box;

}

#dishes #meals-container .meal-box img{
    height:17rem;
    margin:1rem 0;
}

#dishes #meals-container .meal-box h3{
    color:var(--black);
    font-size: 2.5rem;
}

#dishes #meals-container .meal-box h5{
    color: black;
    font-size: 1.5rem;
}


#dishes #meals-container .meal-box span{
    color:var(--blue);
    font-weight: bolder;
    margin-right: 1rem;
    font-size: 2.5rem;
}

/* --------------------------------------------------- */

.about .row{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    align-items: center;
}



.about .row .image{
    flex:1 1 45rem;
}

.about .row .image img{ 
    width: 100%;
}

.about .row .content{
    flex:1 1 45rem;
}

.about .row .content h3{
    color:var(--black);
    font-size: 4rem;
    padding:.5rem 0;
}

.about .row .content p{
    color:var(--light-color);
    font-size: 1.5rem;
    padding:.5rem 0;
    line-height: 2;
}

.about .row .content .icons-container{
    display: flex;
    gap:1rem;
    flex-wrap: wrap;
    padding:1rem 0;
    margin-top: .5rem;
}

.about .row .content .icons-container .icons{
    background:#eee;
    border-radius: .5rem;
    border:.1rem solid rgba(0,0,0,.2);
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
    flex:1 1 17rem;
    padding:1.5rem 1rem;
}

.about .row .content .icons-container .icons i{
    font-size: 2.5rem;
    color:var(--blu);
}

.about .row .content .icons-container .icons span{
    font-size: 1.5rem;
    color:var(--black);
}


/* -------------------------------------- */

#ingredients #ingredients-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    justify-content: center;
}

#ingredients #ingredients-container .ingredients-box{
    padding:2rem;
    background:#fff;
    border-radius: .5rem;
    border:.1rem solid rgba(0,0,0,.2);
    box-shadow: var(--box-shadow);
    position: relative;
    text-align: center;
    margin-bottom: 20px;

    flex-basis: 33%;
    flex-grow: 1;
    max-width: 33%;
    box-sizing: border-box;
}

#ingredients #ingredients-container .ingredients-box .image{
    height: 22rem;
    width: auto;
    padding:1.5rem;
    position: relative;
}

#ingredients #ingredients-container .ingredients-box .image img{
    height: 100%;
    width: 100%;
    border-radius: .5rem;
    object-fit: cover;
}

#ingredients #ingredients-container .ingredients-box .content{
    padding-top: 0;
}


#ingredients #ingredients-container .ingredients-box .content h3{
    color:var(--black);
    font-size: 2.5rem;
}

#ingredients #ingredients-container .ingredients-box .content p{
    color:var(--light-color);
    font-size: 1.6rem;
    padding:.5rem 0;
    line-height: 1.5;
}



#ingredients .sub-heading{
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
    color:var(--blue);
    font-size: 2rem;
    font-size: 30px;

}


/* ------------------------------------------ */


.order .sub-heading{
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
    color:var(--blue);
    font-size: 2rem;
    font-size: 30px;

}

.order .heading{
    text-align: center;
    color:var(--black);
    font-size: 3rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}



.review .slide{
    padding:2rem;
    box-shadow:var(--box-shadow);
    border:.1rem solid rgba(0,0,0,.2);
    border-radius: .5rem;
    position: relative;    
    margin-bottom: 4rem;
}

.review .slide .fa-quote-right{
    position: absolute;
    top:2rem; right:2rem;
    font-size: 6rem;
    color:#ccc;
}

.review .slide .user{
    display: flex;
    gap:1.5rem;
    align-items: center;
    padding-bottom: 1.5rem;
}

.review .slide .user img{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.review .slide .user h3{
    color:var(--black);
    font-size: 2rem;
    padding-bottom: .5rem;
}

.review .slide .user i{
    font-size: 1.3rem;
    color:var(--blue);
}

.review .slide p{
    font-size: 1.5rem;
    line-height: 1.8;
    color:var(--light-color);
}

.order form{
    max-width:90rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border:.1rem solid rgba(0,0,0,.2);
    background:#fff;
    padding:1.5rem;
    margin:0 auto;
    padding-top: 1rem;
}

.order form .inputBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.order form .inputBox .input{
    width:49%;
}

.order form .inputBox .input span{
    display:block;
    padding:.5rem 0;
    font-size: 1.5rem;
    color:var(--light-color);
}

.order form .inputBox .input input,
.order form .inputBox .input textarea{
    background:#eee;
    border-radius: .5rem;
    padding:1.4rem;
    font-size: 1.8rem;
    color:var(--black);
    text-transform: none;
    margin-bottom: 1rem;
    width:100%;
}

.order form .inputBox .input input:focus,
.order form .inputBox .input textarea:focus{
    border:.1rem solid var(--blue);
}

.order form .inputBox .input textarea{
    height:20rem;
    resize: none;
}

.order form .btn{
    margin-top: 0;
}


/* //------------------------------------------------------- */
.footer .box-footer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}

.footer .box-footer .box h3{
    padding:.5rem 0;
    font-size: 2.5rem;
    color:var(--black);
    margin-bottom: 1.5rem;
}

.footer .box-footer .box a{
    display: block;
    padding:.7rem 0;
    font-size: 1.6rem;
    color:var(--light-color);
}

.footer .box-footer .box a:hover{
    color:var(--blue);
    text-decoration: underline;
}

.footer .credit{
    text-align: center;
    border-top: .1rem solid rgba(0,0,0,.1);
    font-size: 2rem;
    color:var(--black);
    padding:.5rem;
    padding-top: 3rem;
    margin-top:3rem;

}

.footer .credit span{
    color:var(--blue);
}




/* media queries  */

@media (max-width:991px){

    html{
        font-size: 55%;
    }
    
    header{
        padding:1rem 2rem;
    }

    section{
        padding:2rem;
    }


}

@media (max-width:768px){

    header .flex .icons #menu-bars{
        display: inline-block;
    }

    header .flex .navbar{
        position: absolute;
        top:100%; left:0; right:0;
        background:#fff;
        border-top: .1rem solid rgba(0,0,0,.2);
        border-bottom: .1rem solid rgba(0,0,0,.2);
        padding:1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .flex .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .flex .navbar a{
        display: block;
        padding:1.5rem;
        margin:1rem;
        font-size: 2rem;
        background:#eee;
    }

    #search-form #search-box{
        width:90%;
        margin:0 1rem;
    }

    #dishes #meals-container .meal-box {
        flex-basis: 50%; /* Réduire la taille de base à 50% pour afficher deux éléments par ligne sur les écrans plus petits */
        max-width: 50%;
    }
   
    #ingredients #ingredients-container .ingredients-box {
        flex-basis: 50%;
        max-width: 50%;
      }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }
/* 
    .dishes .box-container .box img{
        height:auto;
        width: 100%;
    } */

    .order form .inputBox .input{
        width:100%;
    }

}

@media (max-width: 480px) {
    #dishes #meals-container .meal-box {
      flex-basis: 100%; /* Définir la taille de base à 100% pour afficher un élément par ligne sur les écrans encore plus petits */
      max-width: 100%;
    }

    #ingredients #ingredients-container .ingredients-box {
        flex-basis: 100%;
        max-width: 100%;
      }
  }

